<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myPetDog"
          class="com.spring.introduction.ioc.Dog">
    </bean>

    <bean id="myPetCat"
          class="com.spring.introduction.ioc.Cat">
    </bean>

    <bean id="myPersonDog"
          class="com.spring.introduction.di.Person">
        <property name="pet" ref="myPetDog"/>
    </bean>

    <bean id="myPersonCat"
          class="com.spring.introduction.di.Person">
        <property name="pet" ref="myPetCat"/>
    </bean>

</beans>